node_modules
build
coverage
.prettierignore
.prettierrc
.env*
*.md
.npm
dist
.vscode
Dockerfile*
*docker-compose*
logs
*.log
npm-debug.log*
.husky
.git
data
.commitlintrc.json
.dockerignore
prod
script
yarn*
!yarn.lock
